apiVersion: v1
kind: Service
metadata:
  name: smart-home-service
  labels:
    app: smart-home
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  - port: 1883
    targetPort: 1883
    protocol: TCP
    name: mqtt
  selector:
    app: smart-home
    component: server
